@keyframes rotate {
    from {
        transform: none;
    }
    to {
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotate.reverse {
    animation-direction: reverse;
}

.rotate.bounce {
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes scale-in-out {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}

.scaleInOut {
    animation-name: scale-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in-out {
    0% {
        opacity: .2;
    }
    100% {
        opacity: 1;
    }
}

.fadeInOut {
    animation-name: fade-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: #1b2030;
    font-size: 16px;
}

img, svg {
    max-width: 100%;
    vertical-align: top;
}

p, figure {
    margin: 0;
}

video {
    width: 100%;
    height: 100%;
}

.data-v-layout {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    width: 1120px;
    height: 700px;
    padding-left: 3%;
    padding-right: 3%;
    background: url(../img/bg.png) no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    z-index: 10;
}

.data-v-com {
    position: absolute !important;
}

.data-v-container {
    position: relative;
}

.data-v-main-title {
    font-size: 30px;
    color: goldenrod;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
}

.data-v-main-title figure {
    position: relative;
    margin: 20px 40px;
}

.data-v-main-title figcaption {
    position: absolute;
    top: 0;
    width: 100%;
}

.main-title {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin: 0;
    line-height: 2;
    color: #2eb1f5;
}

.group {
    border: 1px solid #2eb1f5;
    box-shadow: inset 0 0 10px #277eab;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    /*background-image: url(../img/b-2.png);*/
    /*background-repeat: no-repeat;*/
    /*-webkit-background-size: 50%;*/
    /*background-size: 50%;*/
    /*background-position: center 111%;*/
}

.main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid #2eb1f5;
    box-shadow: inset 0 0 10px #277eab;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.bottom-decoration-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    height: 40px;
    margin-top: -22px;
}

.user {
    margin: 0;
    top: 80px;
    width: 385px;
    height: 200px;
    padding-bottom: 10px;
}

.trade {
    top: 80px;
    left: 455px;
    width: 625px;
    height: 200px;
    padding-bottom: 10px;
}

.area {
    top: 315px;
    width: 385px;
    height: 350px;
    padding-bottom: 10px;
}

.line {
    top: 315px;
    left: 455px;
    height: 230px;
    width: 350px;
    padding-bottom: 10px;
}

.pie {
    left: 845px;
    top: 315px;
    width: 235px;
    height: 350px;
    padding-bottom: 10px;
}

.group-trade .data-v-container {
    height: 100%;
}

.data-v-com-2, .data-v-com-3 {
    height: 120px;
    width: 120px;
}

.data-v-com-3 {
    margin-left: 30px;
}

.trade-data {
    display: inline-block;
    margin-left: 30px;
    margin-top: -8px;
}

.trade-data p {
    position: relative;
    margin: 0;
    padding-left: 20px;
    line-height: 40px;
    background: url(../img/b-1.png) no-repeat;
    background-position: 60% 130%;
    background-size: 100% 50%;
}

.trade-data p:before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #2eb1f5;
    border-radius: 50%;
    margin-right: 15px;
    position: absolute;
    left: 2px;
    top: 17px;

}

.trade-data p:after {
    content: '';
    position: absolute;
    left: 0;
    top: 15px;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: rgba(46, 177, 245, 0.5);
    border-radius: 50%;
}

.trade-data .label {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    width: 70px;
}

.trade-data .value {
    float: right;
    text-align: right;
    font-size: 18px;
    color: gold;
    margin-left: 10px;
}

.decoration {
    position: absolute;
    width: auto;
    height: 84px;
    top: 0;
    left: 0;
    margin: 0;
}

.decoration img {
    height: 100%;
}

.decoration figcaption {
    position: absolute;
    font-size: 12px;
    color: #fff;
    top: 0;
    left: 0;
    padding-left: 6px;
    padding-top: 2px;
    transform: scale(.9);
    transform-origin: 0 50%;
}

.graph-container {
    position: absolute;
    left: 20px;
    top: 30px;
    width: calc(100% - 30px);
}

.dynamic {
    left: 455px;
    top: 565px;
    width: 350px;
    height: 90px;
    padding: 10px 10px 0;
}

.dynamic-decoration {
    height: 67px;
}

.pie-chart {
    position: relative;
    top: -30px;
}

.map-container {
    position: absolute;
    top: 130px;
    width: 110%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.table thead {
    font-size: 12px;
    color: #fff;
}

.table th {
    font-weight: normal;
}

.table tbody {
    text-align: center;
    font-size: 12px;
    color: goldenrod;
}

.table tr {
    line-height: 22px;
}

.table tbody tr {
    margin-top: -1px;
    border: 1px solid #2eb1f5;
    box-shadow: inset 0 0 8px #2eb1f5;
    background-color: rgba(0, 0, 0, 0.3);
}

.table tbody tr:nth-child(n+2) {
    display: none;
}

.percent-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}

.percent-box p {
    line-height: 20px;
}

text {
    text-anchor: middle;
    fill: #fff;
}

tspan {
    font-size: 22px;
    fill: gold;
}

.label {
    font-size: 12px;
    transform-origin: center center;
}

